body {
  background-image: url('myimage.jpg');
  background-repeat: no-repeat;
  background-size: cover;
}

/* div {
  width: 400px;
  margin: auto;
  text-align: center;
  padding: 20px;
  background-color: rgba(255, 255, 255, 0.9);
  border-radius: 5px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);
} */

.highlight {
  margin-top: 0;
  font-size: 28px;
  font-weight: bold;
}
.container {
  max-width: 400px;
  margin: 0 auto;
  padding: 50px;
  background-color: rgba(255, 255, 255, 0.8);
  border-radius: 10px;
}

.submit-button {
  margin-top: 20px;
  padding: 10px;
  background-color: #4CAF50;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}
.center {
  margin: auto;
  width: 45%;
  border: none;
  padding: 10px;
}

.submit-button:hover {
  background-color: #323832;
}

p {
  margin-top: 20px;
}

.custom-anchor {
  color: blue;
  text-decoration: underline;
}

a:hover {
  color: darkblue;
  text-decoration: underline;
}
